.cards-business ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 16px;
}

.cards-business ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards-business .cards-business-card-body {
  margin: 16px;
}

.cards-business .cards-business-card-image picture > img {
  height: 100%;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
